# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node / Caches
node_modules/
.cache/
.tmp/
.rnx/

# Metro
.metro-cache/

# React Native
.rncache/
dist/
build/

# Watchman
.watchman/

# Coverage
coverage/

# Env
.env
.env.*.local
.env.local

# iOS
ios/build/
ios/DerivedData/
ios/Pods/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside

# Xcode workspaces (user data)
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/project.xcworkspace/xcuserdata/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/*.iml
android/app/*.iml
android/.settings/
android/keystores/*
*.keystore
*.jks

# Editors / IDEs
.vscode/
.idea/
*.swp
